<div class="main">
    <div>        
        <h2>Пожертвования</h2>
        <table>
            <tr>
                <td>ID пользователя</td>
                <td>ID питомца</td>
                <td>Данная сумма</td>
                <td>Описание</td>
            </tr><tr>
                                                        <td>425396</td>
                                                        <td>56201</td>
                                                        <td>100</td>
                                                        <td>анршгшшгш</td>
                                                    </tr><tr>
                                                        <td>425396</td>
                                                        <td>56201</td>
                                                        <td>100</td>
                                                        <td>анршгшшгш</td>
                                                    </tr><tr>
                                                        <td>785620</td>
                                                        <td>56201</td>
                                                        <td>10000</td>
                                                        <td>анршгшшгш</td>
                                                    </tr><tr>
                                                        <td>56201</td>
                                                        <td>1000</td>
                                                        <td>100</td>
                                                        <td>10100</td>
                                                    </tr><tr>
                                                        <td>56201</td>
                                                        <td>1000</td>
                                                        <td>100</td>
                                                        <td>10100</td>
                                                    </tr><tr>
                                                        <td>56201</td>
                                                        <td>1000</td>
                                                        <td>1010100</td>
                                                        <td>11010</td>
                                                    </tr><tr>
                                                        <td>56201</td>
                                                        <td>1001</td>
                                                        <td>1000</td>
                                                        <td></td>
                                                    </tr><tr>
                                                        <td>56201</td>
                                                        <td>1000</td>
                                                        <td>2242</td>
                                                        <td>422</td>
                                                    </tr>
        </table>
    </div>
    <div>
        <h2>Объявления о находке</h2>
        <table>
            <tr>
                <td>ID объявления</td>
                <td>ID пользователя</td>
                <td>Описание</td>
                <td>Место</td>
            </tr><tr>
                                            <td>13073</td>
                                            <td>0</td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>15842</td>
                                            <td>56201</td>
                                            <td>lljll</td>
                                            <td>jljljl</td>
                                        </tr><tr>
                                            <td>33510</td>
                                            <td>56201</td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>44320</td>
                                            <td>0</td>
                                            <td>112</td>
                                            <td>112</td>
                                        </tr><tr>
                                            <td>53923</td>
                                            <td>0</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr><tr>
                                            <td>65279</td>
                                            <td>0</td>
                                            <td>Соба 1 м и тд</td>
                                            <td>во дворе</td>
                                        </tr><tr>
                                            <td>69752</td>
                                            <td>0</td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>86260</td>
                                            <td>0</td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>91239</td>
                                            <td>0</td>
                                            <td>None</td>
                                            <td>None</td>
                                        </tr><tr>
                                            <td>98177</td>
                                            <td>56201</td>
                                            <td>Соба 1 м и тд</td>
                                            <td>во дыоре</td>
                                        </tr><tr>
                                            <td>98466</td>
                                            <td>0</td>
                                            <td>2</td>
                                            <td>2</td>
                                        </tr><tr>
                                            <td>98730</td>
                                            <td>56201</td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>99008</td>
                                            <td>56201</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
        </table>
    </div>
    <div>
        <h2>Заявки</h2>
        <table>
            <tr>
                <td>ID пользвателя</td>
                <td>ID питомца</td>
                <td>Возраст</td>
                <td>ФИО</td>
                <td>Статус</td>
                <td>Место жительства</td>
                <td>Место работы</td>
                <td>Увлечения</td>
            </tr><tr>
                <td>Hi, I'm your first cell.</td>
                <td>I'm your second cell.</td>
                <td>I'm your third cell.</td>
                <td>I'm your fourth cell.</td>
                <td>Hi, I'm your first cell.</td>
                <td>I'm your second cell.</td>
                <td>I'm your third cell.</td>
                <td>I'm your fourth cell.</td>
            </tr><tr>
                                            <td>56201</td>
                                            <td>425396</td>
                                            <td></td>
                                            <td>п</td>
                                            <td>п</td>
                                            <td>п</td>
                                            <td>п</td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>425396</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>425396</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>425396</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>425396</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>425396</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>425396</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>425396</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>425396</td>
                                            <td></td>
                                            <td>G</td>
                                            <td>G</td>
                                            <td>G</td>
                                            <td>G</td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>1000</td>
                                            <td></td>
                                            <td>g</td>
                                            <td>g</td>
                                            <td>g</td>
                                            <td>g</td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>1000</td>
                                            <td></td>
                                            <td>h</td>
                                            <td>h</td>
                                            <td>h</td>
                                            <td>h</td>
                                            <td></td>
                                        </tr><tr>
                                            <td>56201</td>
                                            <td>1000</td>
                                            <td></td>
                                            <td>h</td>
                                            <td>h</td>
                                            <td>h</td>
                                            <td>h</td>
                                            <td></td>
                                        </tr>
        </table>
    </div>
</div>
<div class="main">
    <div>        
        <h2>Пользователи</h2>
        <table>
            <tr>
                <td>ID </td>
                <td>Логин</td>
                <td>Пароль</td>
                <td>Почта</td>
                <td>Номер телефона</td>
                <td>Описание</td>
                <td>Навыки</td>
            </tr><tr>
                                <td>16900</td>
                                <td>Vlad1</td>
                                <td>12341</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr><tr>
                                <td>56201</td>
                                <td>Vlad</td>
                                <td>1234</td>
                                <td>n@m.ru</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
        </table>
    </div>
    <div>
        <h2>Питомцы</h2>
        <table>
            <tr>
                <td>ID</td>
                <td>Имя</td>
                <td>Порода</td>
                <td>Собраная сумма</td>
            </tr><tr>
                                            <td>1000</td>
                                            <td>Рекс</td>
                                            <td>Немецкий шпиц</td>
                                            <td>1012442</td>
                                        </tr><tr>
                                            <td>1001</td>
                                            <td>Белла</td>
                                            <td>Чихуахуа</td>
                                            <td>1000</td>
                                        </tr><tr>
                                            <td>1002</td>
                                            <td>Макс</td>
                                            <td>Вельш-корги</td>
                                            <td>0</td>
                                        </tr>
        </table>
    </div>
</div>